[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "==0.109.2"
pydantic = "==2.6.1"
pydantic-settings = "==2.2.0"
fastapi-limiter = "==0.1.6"
python-dotenv = "==1.0.1"
pandas = "==2.2.0"
scikit-learn = "==1.4.0"
redis = {version = "==5.0.1", extras = ["hiredis"]}
uvicorn = {version = "==0.27.1", extras = ["standard"]}
gunicorn = "==21.2.0"
supervisor = "==4.2.5"

[dev-packages]

[requires]
python_version = "3.12"
